@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
   width: 100vw;
   height: 100vh;
}

body {
   margin: 0;
   background: #4762e6;
   background: radial-gradient(
      circle,
      rgba(71, 98, 230, 1) 0%,
      rgba(0, 0, 0, 1) 100%
   );
}
